<div class="products-layout">
  <div class="table-header">
    <input type="text" class="search-input" placeholder="Buscar..." [formControl]="searchTerm">
    <button (click)="addProduct()">Agregar</button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
        </tr>
      </thead>
      <tbody>
        @for (product of filteredProducts$ | async ; track $index; ) {
        <tr>
          <td>{{ product.logo}}</td>
          <td>{{ product.name}}</td>
          <td>{{ product.description}}</td>
          <td>{{ product.date_release | date:'dd/MM/yyyy' }}
          </td>
          <td class="cell-with-menu">
            <span>{{ product.date_revision | date: 'dd/MM/yyyy' }}</span>
            <div class="dropdown">
              <button class="menu-btn" (click)="toggleMenu($index)">⋮</button>
              <div class="dropdown-menu" [class.show]="isMenuOpen($index)">
                <div class="dropdown-item" *ngFor="let option of menuOptions"
                  (click)="onSelectOption(product, option.value)">
                  {{ option.label }}
                </div>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <app-delete-modal [title]="deleteModalTitle" [visible]="deleteModalVisible" (close)="closeDeleteModal()"
    (confirm)="confirmDelete()"></app-delete-modal>
  <app-modal [title]="modalTitle" [message]="modalMessage" [isSuccess]="isSuccess" [visible]="modalVisible"
    (close)="closeModal()"></app-modal>
  <div class="table-footer">
    <p>{{ productsLength }} resultados</p>
    <select class="number-selector" [formControl]="itemsPerPage">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>

</div>